body {
    font-family: 'Pirata One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    background-color: #f4e1d2;
    background-image: url('newback.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; 
  }
section {
    background-color: transparent;
    margin: 20px 0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #d1b28a;
    color: black;
}

.pirate h1 {
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgb(184, 170, 170);
}

.pirate p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 12px;
}

.pirate-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.pirate-buttons button {
    font-family: 'Pirata One', cursive;
    font-size: 1.2rem;
    color: white;
    background-color: #6a4e23;
    border: 2px solid #4c3720;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.pirate-buttons button:hover {
    background-color: #4c3720;
    transform: scale(1.1);
}

